        /*************************
Base Styles
*************************/
        
        html {
            color: #222;
            font-size: 15em;
            line-height: 2;
            box-sizing: border-box;
            background: url('images/sunRaysPraise.jpg');
            background-repeat: no-repeat;
            /* background-attachment: fixed, center; */
            background-size: auto;
        }
        
         :before,
         :after {
            /*    content: "*"; */
            box-sizing: inherit;
        }
        
        header {
            /* border-bottom: 5px solid #9a5977; */
            background: radial-gradient(gold, #9a5977);
            color: black;
        }
        
        h1 {
            text-align: justify;
        }
        
        body {
            font-family: cursive;
            font-size: 14px;
            padding: 20px;
            line-height: 26px;
        }
        
        .selectorGroup {
            display: block;
            margin-bottom: 10px;
            padding: 15px 0;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            color: white;
            background: #599a68;
        }
        
        .selectorGroupWrapper {
            width: 90%;
            margin: 0 auto;
        }
        /* .selector-group {
            margin: 0;
            padding: 0;
            list-style-type: none;
        } */
        
        .srvDatFunction {
            cursor: pointer;
        }
        
        button {
            color: red;
        }
        
        a:hover {
            text-decoration: underline;
        }
        
        .main {
            padding: 30px 0;
        }
        
        .footer-container footer {
            color: grey;
            padding: 20px 0;
        }
        /*************************
Media Queries
*************************/
        
        @media only screen and (min-width: 480px) {
            nav a {
                float: left;
                width: 30%;
                margin: 0 0 0 5%;
                padding: 25px 1%;
                margin-bottom: 0;
            }
            nav li:first-child a {
                margin-left: 0;
            }
            nav li:last-child a {
                margin-right: 0;
            }
        }
        
        @media only screen and (min-width: 768px),
        only screen and (min-width: 700px) and (orientation: landscape) {
            .title {
                float: left;
                font-size: 1.4em;
            }
            nav {
                float: right;
                width: 60%;
            }
            nav a {
                padding: 15px 1%;
            }
            .main article {
                float: left;
                width: 57%;
            }
            .main aside {
                float: right;
                width: 38%;
            }
        }
        
        @media only screen and (min-width: 1140px) {
            .wrapper {
                width: 1026px;
                margin: 0 auto;
            }
            .title {
                font-size: 2em;
            }
            nav a {
                padding: 25px 1%;
            }
        }
        /*************************
Clearfix
*************************/
        
        .clearfix:before,
        .clearfix:after {
            content: " ";
            display: table;
        }
        
        .clearfix:after {
            clear: both;
        }
        
        .clearfix {
            *zoom: 1;
        }